
/* variables.css */
:root {    
    --bg-color-main: #1E2024;
    --text-color-main: #f5f5f5;
    --text-color-pink: #d87093;
    --text-color-alt: #A1A1A1;
    --color-0: #569cd6;
    --color-1: #b6cea8;
    --color-2: #9cdcfe;
    --color-3: #cf9278;
    --color-4: #cfcfcf;
    --color-red: #d86f6f;
    --font-family-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    --font-family-alt: fantasy;
    --font-size-small: 0.875rem;
    --font-size-medium: 1.25rem;
    --font-size-large: 1.5rem;
    --font-size-xlarge: 1.75rem;  
}


*,
*::before,
*::after {box-sizing: border-box;margin: 0;list-style-type: none;text-decoration: none;color: var(--text-color-main);font-size: var(--font-size-medium);}
*::selection {color: var(--text-color-pink); background: var(--bg-post-color-hover);}
header {margin-top: 2rem;}
body {background-color: var(--bg-color-main);font-family: var(--font-family-main); color: var(--text-color-main);width: 80%; max-width: calc(48*var(--font-size-medium)); margin: 0 auto;}
section{width: fit-content;margin: auto;}
div {margin: 1rem 0;}
strong {color: var(--text-color-pink); font-size: inherit;}
.line {overflow:hidden; height:20px;margin-bottom: 1rem; margin-top: 2rem;&:after{content:'';display:block; margin:-25px auto 0;width:100%; height:25px;border-radius:125px / 12px;box-shadow:0 0 3px var(--text-color-main);}}
.final {margin-top: 5rem; margin-bottom: 5rem;}
#logo {border-radius: 10%; display: block; margin: 0 auto 2rem auto;}
.title {color: var(--text-color-pink); margin-top: 2rem; margin-bottom: 1rem;font-size: var(--font-size-medium);}
.footer-nav {width: 100%; margin-bottom: 5rem; margin-top: 2rem; border-radius: 8rem;display: flex; justify-content: center; flex: auto;  gap: 1rem; flex-wrap: wrap;}
.footer-nav a {transition: all .5s ease-in-out;width: 50%;min-width: 10rem; max-width: 15rem;display: flex; flex: auto; flex-direction: row; justify-content: center;  border-radius: 0 1rem 1rem 0; background-color: var(--text-color-alt);text-align: right;& div { width: fit-content;}&:first-of-type{border-radius: 1rem 0 0 1rem;}&p{transition: all .3s ease-in-out; font-size: var(--font-size-small); margin: .5rem 0;}}
footer {width: 100%;height: 5rem; display: flex; flex-direction: column; justify-content: center;}
footer a {display: block; text-align: center;}
.prev:hover {background-color: var(--text-color-pink);} .next:hover {background-color: var(--text-color-pink);}
article {
    line-height: 2rem;
    & div p {
        margin-bottom: 1rem;
    }
}
h1.title {font-size: var(--font-size-xlarge); color: var(--text-color-main); text-align: center;}
h2.title {font-size: var(--font-size-large); color: var(--text-color-main); text-align: left;}
h3.title {font-size: var(--font-size-large); color: var(--text-color-main); text-align: left;}
h4.title {font-size: var(--font-size-large); color: var(--text-color-main); text-align: left;}

.level-2 { margin-left: 1.5rem;} .level-3 { margin-left: 3rem;}
.color-0 { color: var(--color-0);} .color-1 { color: var(--color-1);} .color-2 { color: var(--color-2);} .color-3 { color: var(--color-3);} .color-4 { color: var(--color-4);} 
.color-red{color: var(--color-red)}
a:hover { color: var(--text-color-pink);}


.title-center {text-align: center;}
.indice p {font-size: var(--font-size-medium); font-weight: 600;}
.indice p.level-2::before  {content: "↳ ";}
.indice p.level-3::before  {content: "▸ ";}


.indice a * {
    border-radius: .3rem;
    transition: all ease-in-out .5s;
    &:hover{
        background-color: var(--text-color-pink); padding: 0 0 0 2rem;
    }
}

.font-alt{font-family: var(--font-family-alt);}
.margin-1 {background-color: rebeccapurple; display: inline-block; margin: 1rem 5rem; }










/*     */
.code-editor {
    max-width: 80%;
    background-color: #1d1e22;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2px;
    margin: 2rem auto 4rem;   
    & *{
        font-size: 20px;
    }
}

.code-title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: var(--text-color-main);
}

.icon {
    width: 20px;
    transition: .2s ease;
}

.icon:hover {
    cursor: pointer;
    border-radius: 50px;
    background-color: #6e7281;
}

.editor-content {
    margin: 0 10px 10px;
    color: white;
}

.indent-1 {margin-left: 1rem;} .indent-2 {margin-left: 2rem;}

.color-preview-1,.color-preview-2 {
    height: 8px;
    width: 8px;
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 3px;
}

.box {    
    height: fit-content; width: 100%; border: 1px solid #fff;
    display: flex; flex-direction: column; align-items: start; padding: 2rem 1rem; justify-content: center; 
    & p, & p *{
        font-size: var(--font-size-small); line-height: .15rem;
    }
}

#box-05-03-01 {
    background-color: #1E2024;  box-shadow: 3px 3px 4px rgb(233, 222, 222);                    
}

#box-05-03-02 {    
    background-color: #1E2024;    
    &:hover {
        background-color: var(--text-color-pink); color: var(--bg-color-main); transform: scale(1.05);
    }
}